* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#left-side {
    display: inline-block;
    float: left;
    width: 65%;
    margin-left: 13%;
    position: sticky;
    margin-top: 150px;
}

content {
    width: 45%;
    height: 45%;
    margin: 10px 0 10px 0;
    display: inline-block;
    float: left;
    position: fixed;
}

#right-side {
    display: inline-block;
    float: right;
    width: 25%;
    margin-right: 5%;
    overflow: scroll;
}

#progress-image {
    height: 120px;
    width: 120px;
    margin: auto;
}

#side-bar-buttons {
    margin-top: 20px;
}

 #right-side {
    margin-top: 20px;
}

#progress-image img {
    height: 100%;
    width: 100%;
}

.min-major {
    margin: 0 0 2% 41%;

}

iframe {
    width: 100%;
}

.min-major div:after {
    background: #e44c65;
    content: '';
    display: inline-block;
    height: 0.2em;
    max-width: 20em;
    width: 75%;
}

.title, .subtitle {
	margin-bottom: 0;
}

.wrapper {
	padding-top: 40px;
}

.min-major > div {
  position: fixed;
  text-align: center;
}

button {
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    color: #ffffff;
    cursor: pointer;
    font-weight: 300;
    height: 3em;
    line-height: 3em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    margin: 15px auto 40px;
}

button:hover {
	transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
	color: #e44c65;
	box-shadow: inset 0 0 0 1px  #e44c65;
}

button:focus {
	outline:0;
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    margin: auto;
    width: 80%;
}

section > p {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 15px;
	line-height: 25px;
}

a {
  border: none
}

#question {
	display: none;
}

#draw, #quiz {
	display: block;
}

section > div > a {
	display: block;
	margin-left: 30%;
}

label {
	display: block;
}

footer {
  margin-top: 80%;
  height: 90px;
  bottom:0;
  top:60%;
  position:absolute;
}

.submit {
  display: inline-block;
  width: 100px;
  height: 40px;
  padding: 0;
  line-height: 25px;
  margin-right: 5px;
}

@media screen and (max-width: 1220px) {
    #left-side, #right-side {
        width: 100%;
        float: none;
        display:block;
        margin: 10px auto;
        position: relative;
    }

    #right-side p, #right-side a {
      text-align: center;
    }

    #right-side a {
      margin-left: 0;
    }

    #draw {
        margin-left:-30px;
    }

    content {
        position: static;
        float: none;
        width: 100%;
        margin: auto;
    }

    #draw p {
      margin-left:1em;
    }

    .min-major {
      margin: 0;
    }

    .min-major > div {
      position: relative;
    }

    #canvas {
      margin-left: 2%;
    }

}

@media screen and (min-width: 1760px) {
  #right-side {
    margin-right: 0;
  }

  #left-side {
    margin-left: 0;
  }
}