@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700');

/* Reset */

/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font: inherit;*/
    /*font-size: 100%;*/
    /*vertical-align: baseline;*/
/*}*/

/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {*/
    /*display: block;*/
/*}*/

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, input, select, textarea {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.75em;
}

body {
    -webkit-text-size-adjust: none;
    background: #1c1d26;
}

#logo {
    height: 3.5em;
    width: 70px;
}

#logo-link{
    position: absolute;
    border-bottom: none;
    border-right: white;
    margin-left: 6em;
}

div.vertical-line{
    width: 0.5px;
    background-color: white;
    height: 60%;
    margin-left: 10.5em;
    margin-top: 9px;
}

a {
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: #e44c65;
    text-decoration: none;
}

a:hover {
    color: #e44c65 !important;
    border-bottom-color: transparent;
}

.twitter {
    color: #00aced;
    border: none;
}

.twitter:hover {
    color: #c0deed !important;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    border: 0;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}

h3 {
    font-size: 1.35em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

header p {
    color: #ffffff;
    position: relative;
    margin: 0 0 1.5em 0;
}

header.major {
    margin: 0 0 4em 0;
    position: relative;
    text-align: center;
}

.image.fit img {
    width: 100%;
}

.image img {
    border-radius: 4px;
    display: block;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
    background-color: #222a38;
}

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#header {
    background: rgba(39, 40, 51, 0.965);
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    cursor: default;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#header h1 {
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    position: absolute;
    top: 0;
}

#header nav {
    position: absolute;
    right: 6em;
    top: 0;
}

#header nav ul {
    margin: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1em;
}

#header nav ul li a, #header nav ul li span {
    border: 0;
    color: inherit;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    outline: 0;
}

#header nav ul li a.button, #header nav ul li span.button {
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
}

#header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
    margin-right: 0.5em;
}

#header nav ul li.active > a, #header nav ul li.active > span {
    color: #e44c65;
}

#header nav ul li > ul {
    display: none;
}

#header nav ul li > ul {
    display: none;
}

#progress-bar-1 {
    width: 100%;
    background-color: rgba(39, 40, 51, 0.965);
    border-radius: 5px;
}

.progress-bar {
    width: 100%;
    background-color: rgba(39, 40, 51, 0.965);
    margin-bottom: 20px;
    border-radius: 5px;
}

#progress {
    text-align: center;
}

.pBar {
    border-radius: 5px;
    width: 1%;
    height: 30px;
    background: #e44c65;
    background: -webkit-linear-gradient(-90deg, #E81F1A, #e13652, #477B6F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #E81F1A, #e13652, #477B6F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #E81F1A, #e13652, #477B6F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #E81F1A, #e13652, #477B6F); /* Standard syntax */
}

#chart {
    padding: 20px;
}

table {
    width: 100%;
    height: 400px;
}

.charttitle {
    text-align: center;
}

.bars td {
    vertical-align: bottom;
}

.bars div:hover {
    opacity: 0.6;
}

.legend {
    vertical-align: bottom;
    padding-left: 20px;
    text-align: left;
}

.legbox {
    display: block;
    clear: both;
}

.xaxisname {
    margin: 5px;
    color: #fff;
    font-size: 77%;
    padding: 5px;
    float: left;
}

/*Flat UI colors*/

.one {
    background: #16A085;
}

.two {
    background: #2ECC71;
}

.three {
    background: #27AE60;
}

.four {
    background: #3498DB;
}

.five {
    background: #2980B9;
}

.six {
    background: #9B59B6;
}

.seven {
    background: #8E44AD;
}

.bar {
    margin-right: 5px;
    margin-left: 5px;
}

.wrapper {
    padding: 6em 0 4em 0;
}

td {
    color: white;
    width: 14%;
    text-align: center;
}

.container {
    width: 70em;
    margin-left: auto;
    margin-right: auto;
}

#page-wrapper {
    padding-top: 3.5em;
}

/*body.landing #page-wrapper {*/
/*padding-top: 0;*/
/*}*/

/*body.landing #header {*/
/*background: transparent;*/
/*box-shadow: none;*/
/*position: absolute;*/
/*}*/

/* XLarge */

@media screen and (max-width: 1680px) {
    .container {
        width: 90%;
    }

    .wrapper {
        padding: 4.5em 2.5em 2.5em 2.5em;
    }
}

/* Large */

@media screen and (max-width: 1280px) {
    .container {
        width: 90%;
    }

    .wrapper {
        padding: 4.5em 2.5em 2.5em 2.5em;
    }
}

/* Medium */

@media screen and (max-width: 980px) {
    .container {
        width: 100% !important;
    }

    .wrapper {
        padding: 4.5em 2.5em 2.5em 2.5em;
    }

    #logo-link{
        margin-left: 2em;
    }

    div.vertical-line{
        margin-left: 6.5em;
    }
}

/* Small */

@media screen and (max-width: 736px) {
    .container {
        width: 100% !important;
    }
}

/* XSmall */

@media screen and (max-width: 480px) {
    .container {
        width: 100% !important;
    }
}

