#right-side, #left-side, #logo, #progress-image, #side-bar-buttons, content {
    border: solid 1px white;
}

#left-side {
    display: inline-block;
    float: left;
    width: 60%;
    margin-left: 40px;
}

content {
    width: 90%;
    height: 90%;
    margin: 10px 20px 10px 20px;
    display: inline-block;
    float: left;
}

#right-side {
    display: inline-block;
    float: right;
    width: 25%;
    margin-right: 40px;
}

#progress-image {
    height: 120px;
    width: 150px;
    margin: auto;
}

#side-bar-buttons {
    margin-top: 20px;
}

button {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#left-side, #right-side {
    margin-top: 20px;
}

#progress-image img {
    height: 100%;
    width: 100%;
}