
#left-side {
    display: inline-block;
    float: left;
    width: 65%;
    margin-left: 13%;
    position: sticky;
}

content {
    width: 45%;
    height: 45%;
    margin: 10px 0px 10px 0px;
    display: inline-block;
    float: left;
    position: fixed;
}

#right-side {
    display: inline-block;
    float: right;
    width: 25%;
    margin-right: 5%;
}

#progress-image {
    height: 120px;
    width: 120px;
    margin: auto;
}

#side-bar-buttons {
    margin-top: 20px;
}

#left-side, #right-side {
    margin-top: 20px;
}

#progress-image img {
    height: 100%;
    width: 100%;
}