<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/score.js"></script>
    <script src="draw.js"></script>
    <link href="../../css/score.css" rel="stylesheet">
    <link href="../../css/about.css" rel="stylesheet">
    <link href="../../css/index.css" rel="stylesheet">
    <link href="draw.css" rel="stylesheet">

    <script src="../../js/DataService.js"></script>

</head>
<body onload="init()" class="landing">
    <canvas id="canvas" class=" "></canvas>
    <p id="translated-word"> Latin letters equivalent: </p>
    <div id="canvas-buttons">
        <button onclick="clearCanvas(canvas,ctx);" class="clear-canvas"> Clear canvas</button>
        <button onclick="submitResult(canvas,ctx);" class="submit"> Submit</button>
    </div>
</body>
</html>